.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    /* 어두운 배경 색상 */
    color: #fff;
    /* 흰색 글자 색상 */
    /* height: 100vh; */
    /* 화면 높이 전체를 차지 */
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    /* 원하는 크기로 조정 */
}

.hero h2 {
    font-size: 1.5rem;
    /* 원하는 크기로 조정 */
}