.card-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.card-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1400px) {
    .card-container {
        width: 60%;
    }
}