/* src/components/Main.css */

body {
    background-color: #f7f7f7;
    /* 원하는 배경색으로 설정합니다. */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0;
    /* 원래 배경색을 설정합니다. */
    /* 기존 스타일 유지 */
}

.quest-title {
    font-size: 4rem;
    margin: 2rem 0 1rem;
    color: #007bff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.quest-noti {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: bold;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
}

.quest-noti .highlight {
    color: #007bffc8;
    /* 파란색으로 강조할 색상 */
    font-weight: bold;
    /* 굵게 표시 */
}

.quest-text {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input-field {
    text-align: left;
    width: 25%;
    margin: 1rem;
    position: relative;
}

.input-field label {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;

}

.input-field input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.input-field button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.875rem;
    margin-left: 0.625rem;
}

.show-secret-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1rem;
    width: 2.5rem;
    right: 0;
}

.request-button {
    background-color: #007bff;
    color: #fff;
    font-size: 1.5rem;
    /* 폰트 크기를 늘립니다. */
    padding: 1rem 2rem;
    /* 내부 여백을 늘립니다. */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    /* 마진을 늘립니다. */
}

.request-button:hover {
    background-color: #0056b3;
}

.divider {
    border-top: 1px solid #ccc;
    /* 수평선 스타일 정의 */
    margin: 16px 0;
    /* 위아래 여백 조정 (선택사항) */
    width: 30%;
}

.request-list-button {
    display: block;
    width: 30%;
    /* 가로 크기 조정 */
    font-size: 2rem;
    /* 폰트 크기 조정 */
    padding: 20px;
    /* 내부 여백 조정 */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.request-list-button:hover {
    background-color: #0056b3;
}

.error-message {
    /* font-size: 0.5rem; */
    color: #ff0303;
    text-align: center;
    font-weight: bold;
}