/* src/components/Main.css */

body {
    background-color: #f7f7f7;
    /* 원하는 배경색으로 설정합니다. */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Set the height to 100vh to make it take up the full viewport height */
    padding: 0;
    background-color: #f7f7f7;
    /* Background color */
}

.quest-title {
    font-size: 4rem;
    margin: 2rem 0 1rem;
    color: #007bff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.quest-noti {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: bold;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
}

.quest-noti .highlight {
    color: #007bffc8;
    /* 파란색으로 강조할 색상 */
    font-weight: bold;
    /* 굵게 표시 */
}

.quest-text {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.input-title {
    font-size: 1.5rem;
    display: block;
    margin: 1.5rem 0 1rem;
    text-align: center;
    font-weight: bold;
}

.input-field {
    text-align: center;
    width: 30%;
    /* margin: 1rem; */
    position: relative;
    display: flex;
    /* Center vertically and horizontally */
    justify-content: center;
    align-items: center;
}

/* .input-field label {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
} */

.input-field input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.input-field button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.875rem;
    margin-left: 0.625rem;
}

.show-secret-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1.2em;
    width: 3rem;
    /* right: -1rem; */
}

.request-button {
    background-color: #007bff;
    color: #fff;
    font-size: 1.75rem;
    /* 폰트 크기를 늘립니다. */
    padding: 1rem 2rem;
    /* 내부 여백을 늘립니다. */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    /* 마진을 늘립니다. */
}

.request-button:hover {
    background-color: #0056b3;
}

.divider {
    border-top: 1px solid #ccc;
    /* 수평선 스타일 정의 */
    margin: 16px 0;
    /* 위아래 여백 조정 (선택사항) */
    width: 30%;
}

.request-list-button {
    display: block;
    width: 30%;
    /* 가로 크기 조정 */
    font-size: 2rem;
    /* 폰트 크기 조정 */
    padding: 15px;
    /* 내부 여백 조정 */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.request-list-button:hover {
    background-color: #0056b3;
}

.error-message {
    font-size: 1.2rem;
    color: #ff0303;
    text-align: center;
    font-weight: bold;
}

/* CSS 클래스를 추가하여 흔들기 애니메이션을 정의합니다. */
.shake {
    animation: shake 0.2s ease-in-out;
    animation-iteration-count: 2;
    /* 2회 반복하도록 설정 */
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
        /* 원래 위치로 돌아가는 상태 */
    }

    25%,
    75% {
        transform: translateX(-10px);
        /* 왼쪽으로 흔들기 */
    }

    50% {
        transform: translateX(10px);
        /* 오른쪽으로 흔들기 */
    }
}