.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.card-container {
    width: 75%;
}

@media (min-width: 740px) {
    .card-container {
        width: 60%;
    }
}