.card-button {
    transition: background-color 0.4s;
}

.card-button:hover {
    transform: scale(1.2);
    background-color: #446efd;
    border-color: #446efd;
    color: #fff;
    /* 새로운 색상으로 변경 */
    transition: transform 0.2s, background-color 0.3s, color 0.3s, border-color 0.3s;
}

.log-container {
    width: 50%;
    height: 75vh;
    margin: 1.5rem auto;
    padding-left: 0.5rem;

    overflow-y: auto;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    /* 테두리 스타일 및 색상 설정 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    /* 그림자 설정 */
}

@media (max-width: 868px) {
    .log-container {
        height: 50vh;
        width: 100%;
        /* 작은 화면에서 높이를 줄임 */
    }
}