.card-button {
    transition: background-color 0.4s;
}

.card-button:hover {
    transform: scale(1.2);
    background-color: #446efd;
    border-color: #446efd;
    color: #fff;
    /* 새로운 색상으로 변경 */
    transition: transform 0.2s, background-color 0.3s, color 0.3s, border-color 0.3s;
}

.log-container {
    width: 95%;
    height: 70vh;
    margin: 1.5rem auto;
    padding-left: 0.5rem;
    overflow-y: auto;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1300px) {
    .log-container {
        height: 80vh;
        width: 65%;
    }
}